.slider-main-container {
  text-align: center;
  width: 92%;
  margin: 100px auto;
  // padding: 100px 0px;
  
  // .container {
  //   width: 100%;
  //   position: relative;
  // }

  // .carousel-initialized {
  //   position: static;
  // }

  // .carousel-prev, .slick-prev, .slick-next,
  // .carousel-next {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   width: 50px;
  //   height: 50px;
  //   background-color: rgb(21, 84, 8);
  //   border-radius: 50%;
  //   // position: absolute;
  //   // top: 0;
  //   // bottom: 0;
  //   // margin: auto;
  //   z-index: 2;
  // }

  // .carousel-prev {
  //   left: -25px;
  // }
}
